*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

body{
    background: rgb(65, 65, 65);
}

.container{
    margin-top: 100px;
}

#pokemons-list{
    background: rgb(37, 37, 37);
}

#pokemons-list .card{
    width:18rem;
    padding: 50px 0;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    background: transparent;
    
}  
#pokemons-list .page-no{
    position: absolute;
    top: 0;
    left: 0;
}

#pokemons-list .card:hover{
    color: cornsilk;
    cursor: pointer;
    animation-name: bounce;
    animation-duration: 0.5s;
    
}

#pokemons-list .card .container-img{
    width: 150px;
    margin: 0 auto;
    /* border-radius: 50%;
    background: rgb(109, 109, 109); */
}

#pokemons-list .card .container-img img{
    width: 150px;
    box-sizing: border-box;
}

.search-container{
    width: 70%;
    height:40px;
}

.search-container p{
    color: cornsilk;
    font-size: 2rem;
}
.player-data{
    text-align: center;
}
.cp-text{
    font-size: 1.2rem;
    /* padding: 0 0 0 3px; */
}

@keyframes bounce{
    0%  { transform: translateY(0px)}
    20% {transform: translateY(-20px)}
    40% {transform: translateY(0px)}
    60% {transform: translateY(-10px)}
    80% {transform: translateY(0px)}
}

@media(max-width: 576px){
    #search, #submit{
        display: none;
    }
}

